.RuleModal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(63, 60, 60, 0.76);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.ruleModal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 500px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}



.rule-heading h2{
    display: flex;
    align-items: center;
    font-family: cursive;
    font-size: 36px;
}

.back-button {
    width: 100%;
    height: 200px;
    text-align: center;
}

.back-button button {
    position: absolute;
    bottom: 50px;
    width: 200px;
    background-color: rgb(102, 153, 204);
    border: none;
    color: white;
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translate(-50%, -50%);
}








